@import '../../../../assets/styles/utility';

section {

  h1 {
    margin-left: rem(16px);
  }

  .grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(15px);

    @media only screen and (max-width: $large-xl) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: rem(8px);
    }

    @media only screen and (max-width: $large) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: rem(5px);
    }

    @media only screen and (max-width: $medium) {
      grid-template-columns: 1fr;
      grid-gap: rem(5px);
    }
  }
}
