<header class="glass-dark">
  <ul>
    <li routerLink='/'>
      <i class="fa-solid fa-house"></i>
      <span>Resume</span>
    </li>
    <li routerLink="/portfolio">
      <i class="fa-solid fa-briefcase"></i>
      <span>Portfolio</span>
    </li>
    <li routerLink="/blog">
      <i class="fa-solid fa-rss"></i>
      <span>Blog</span>
    </li>
    <li class="download-button-li">
      <button class="btn-download">
        <i class="fa-solid fa-angles-down"></i> Download CV
      </button>
      <button class="btn-icon">
        <i class="fa-solid fa-angles-down"></i>
      </button>
    </li>
  </ul>
</header>

