@import './src/assets/styles/variables/vars';
@import './src/assets/styles/variables/media';
@import './src/assets/styles/variables/mixins';

header {
  display: flex;
  align-items: center;
  margin-bottom: rem(18px);
  background-color: var(--color-dark-block-background);
  border-radius: var(--radius-20);

  @media only screen and (max-width: $medium) {
    border-radius: var(--radius-16);
  }

  ul {
    display: flex;
    justify-content: flex-start;
    height: auto;
    padding: rem(12px) rem(14px);
    margin: 0;
    list-style-type: none;
    font-weight: 500;
    width: 100%;

    @media only screen and (max-width: $medium) {
      justify-content: space-evenly;
      padding: rem(8px) rem(10px);

    }

    li {
      display: flex;
      align-items: center;
      padding: 0.5em 1em;
      border-radius: var(--radius-12);
      color: var(--color-dark-heading);
      text-decoration: none;

      &:hover {
        text-shadow: 0 0 10px var(--color-dark-neon-glow),  0 0 20px var(--color-dark-neon-glow),  0 0 25px var(--color-dark-neon-glow);
        filter: brightness(1.2);
        transition: all .1s linear;
        cursor: pointer;

        .btn-download {
          text-shadow: 0 0 10px var(--color-dark-neon-glow),  0 0 20px var(--color-dark-neon-glow),  0 0 25px var(--color-dark-neon-glow);
          filter: brightness(1.2);
          transition: all .1s linear;
          cursor: pointer;
        }
      }

      &:active {
        box-shadow: 0 0 15px var(--color-dark-wrapper-background);
        transition: all .05s ease-in-out;
      }

      i, .btn-icon {
        display: none;
      }

      .btn-icon > i {
        margin-right: 0;
      }

      @media only screen and (max-width: $medium) {
        padding: rem(12px) 10%;

        span{
          display: none;
        }

        i {
          display: block;
          margin-right: 0;
          font-size: rem(20px);

          &:hover {
            text-shadow: 0 0 10px var(--color-dark-neon-glow);
          }

          @media only screen and (max-width: $medium) {
            font-size: 4vw;
          }
        }

        @media only screen and (max-width: $medium) {
          padding: rem(12px) 9%;
        }

        .btn-icon {
          padding: 0;
          display: flex;
          align-items: center;
          font-weight: 500;
          border: none;
          float: right;
          border-radius: var(--radius-12);
          background: none;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .btn-download {
        display: flex;
        align-items: center;
        font-weight: 500;
        border: none;
        float: right;
        color: var(--color-dark-heading);
        border-radius: var(--radius-12);

        background: none;
        transition: all .1s linear;

        &:hover {

        }

        i {
          display: block;
        }

        @media only screen and (max-width: $medium) {
          display: none;
        }
      }
    }
  }
}

.download-button-li {
  margin-left: auto;
  @media only screen and (max-width: $medium) {
    margin-left: unset;
  }
}

i {
  margin-right: 0.5rem;
}
