@import './src/assets/styles/utility';

header {
  display: flex;
  align-items: center;
  margin-bottom: rem(18px);
  background-color: var(--color-dark-wrapper-background);
  border-radius: var(--radius-20);
  backdrop-filter: blur(20px) saturate(0);
  -webkit-backdrop-filter: blur(20px) saturate(0);
  box-shadow:
    0 0 7.7px rgba(0, 0, 0, 0.033),
    0 0 16.1px rgba(0, 0, 0, 0.063),
    0 0 26.9px rgba(0, 0, 0, 0.091),
    0 0 45.9px rgba(0, 0, 0, 0.119),
    0 0 110px rgba(0, 0, 0, 0.15);


  @media only screen and (max-width: $medium) {
    border-radius: var(--radius-16);
  }

  ul {
    display: flex;
    justify-content: flex-start;
    height: auto;
    padding: rem(12px) rem(14px);
    margin: 0;
    list-style-type: none;
    font-weight: 500;
    width: 100%;

    @media only screen and (max-width: $medium) {
      justify-content: space-evenly;
      padding: rem(8px) rem(10px);

    }

    li {
      display: flex;
      align-items: center;
      padding: 0.5em 1em;
      border-radius: var(--radius-12);
      color: var(--color-dark-heading);
      text-decoration: none;

      &.soon {
        span {
          color: var(--color-dark-paragraph);
          text-decoration: line-through;
          
          &:after {
            content: 'soon';
            display: inline-block;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 11px;
            padding: 0 4px;
            margin: auto auto;
            margin-left: rem(6px);
            background-color: rgba(0, 187, 255, 0.3);
            border-radius: 4px;
            border: 1px solid var(--color-dark-neon-glow);
          }

        }
      }

      &:hover {
        @extend .text-glow-12;
        background-color: rgba(0, 0, 0, 0.25);
        transition: all .05s linear;
        cursor: pointer;

        .btn-download {
          @extend .text-glow-12;
          transition: all .05s linear;
          cursor: pointer;
        }
      }

      &:active {
        box-shadow: 0 0 15px var(--color-dark-block-background);
        transition: all .05s ease-in;
      }

      i, .btn-icon {
        display: none;
      }

      .btn-icon > i {
        margin-right: 0;
      }

      @media only screen and (max-width: $medium) {
        padding: rem(12px) 10%;

        span{
          display: none;
        }

        i {
          display: block;
          margin-right: 0;
          font-size: rem(20px);

          &:hover {
            text-shadow: 0 0 10px var(--color-dark-neon-glow);
          }

          @media only screen and (max-width: $medium) {
            font-size: 4vw;
          }
        }

        @media only screen and (max-width: $medium) {
          padding: rem(12px) 9%;
        }

        .btn-icon {
          padding: 0;
          display: flex;
          align-items: center;
          font-weight: 500;
          border: none;
          float: right;
          border-radius: var(--radius-12);
          background: none;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .btn-download {
        display: flex;
        align-items: center;
        font-weight: 500;
        border: none;
        float: right;
        color: var(--color-dark-heading);
        border-radius: var(--radius-12);

        background: none;
        transition: all .1s linear;

        i {
          display: block;
        }

        @media only screen and (max-width: $medium) {
          display: none;
        }
      }
    }
  }
}

.download-button-li {
  margin-left: auto;
  @media only screen and (max-width: $medium) {
    margin-left: unset;
  }
}

i {
  margin-right: 0.5rem;
}
