<header class="glass-dark">
  <ul>
    <li>
      <i class="fa-solid fa-house"></i><a routerLink='/'>Resume</a>
    </li>
    <li>
      <i class="fa-solid fa-briefcase"></i>
      <a routerLink="/portfolio">Portfolio</a>
    </li>
    <li>
      <i class="fa-solid fa-rss"></i><a routerLink="/blog">Blog</a>
    </li>
    <li class="download-button-li">
      <button class="btn-download">
        <i class="fa-solid fa-angles-down"></i> Download CV
      </button>
      <button class="btn-icon">
        <i class="fa-solid fa-angles-down"></i>
      </button>
    </li>
  </ul>
</header>

