<section class="glass-dark">
  <h2>Experience</h2>
  <div *ngFor="let experience of experienceList" class="section-item">
    <h3 class="section-item-title">{{experience.positionTitle}}</h3>
    <span>{{experience.company}}</span>
    <span class="section-item-date">{{experience.startMonth}} {{experience.startYear}} - {{experience.endMonth && experience.endYear ? experience.endMonth + ' ' + experience.endYear : 'Present'}}</span>

    <div class="section-item-content">

      <h5 *ngIf="experience.description.responsibilities">Responsibilities:</h5>
      <ul *ngIf="experience.description.responsibilities">
        <li *ngFor="let reponsibility of experience.description.responsibilities"><p>{{reponsibility}}</p></li>
      </ul>

      <h5 *ngIf="experience.description.aboutProject">About project:</h5>
      <p *ngIf="experience.description.aboutProject">{{experience.description.aboutProject}}</p>

      <h5 *ngIf="experience.description.toolsAndTechnologies">Tools & Technologies:</h5>
      <p *ngIf="experience.description.toolsAndTechnologies">{{experience.description.toolsAndTechnologies}}</p>

    </div>
  </div>
</section>
