<section class="dark-block">
  <h1>About me</h1>
  <div class="content-item-content">
    <p>
      I am a Junior .NET Developer with professional experience in the IT industry.
      I am skilled in developing new functionality, writing tests, investigating errors in production, as well as finding and fixing bugs related to them.
      I have hands-on experience in developing a microservice while transferring a monolithic project to a microservice architecture.
      <br>
      Being an individual with well-developed communication skills and curiosity about everything new,
      I am used to delving deeply into issues in order to meet the task requirements.
    </p>
  </div>
</section>
