<section class="dark-block">
  <div class="skill-wrapper">
    <div class="skill-group">
      <div class="skill-group-item dark-block">
        <h4>.NET</h4>
        <span class="skill-group-item-level">Intermediate</span>
        <div class="progress-bar">
          <span class="active" role="progressbar"></span>
          <span class="active" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
        </div>
      </div>

      <div class="skill-group-item dark-block">
        <h4>C#</h4>
        <span class="skill-group-item-level">Advanced</span>
        <div class="progress-bar">
          <span class="active" role="progressbar"></span>
          <span class="active" role="progressbar"></span>
          <span class="active" role="progressbar"></span>
        </div>
      </div>

      <div class="skill-group-item dark-block">
        <h4>SQL</h4>
        <span class="skill-group-item-level">Novice</span>
        <div class="progress-bar">
          <span class="active" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
        </div>
      </div>

      <div class="skill-group-item dark-block">
        <h4>S.O.L.I.D</h4>
        <span class="skill-group-item-level">Novice</span>
        <div class="progress-bar">
          <span class="active" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
        </div>
      </div>

      <div class="skill-group-item dark-block">
        <h4>Design Patterns</h4>
        <span class="skill-group-item-level">Novice</span>
        <div class="progress-bar">
          <span class="active" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
        </div>
      </div>
    </div>

    <app-vertical-separator></app-vertical-separator>

    <div class="skill-group">
      <div class="skill-group-item dark-block">
        <h4>HTML</h4>
        <span class="skill-group-item-level">Advanced</span>
        <div class="progress-bar">
          <span class="active" role="progressbar"></span>
          <span class="active" role="progressbar"></span>
          <span class="active" role="progressbar"></span>
        </div>
      </div>

      <div class="skill-group-item dark-block">
        <h4>CSS/SCSS</h4>
        <span class="skill-group-item-level">Intermediate</span>
        <div class="progress-bar">
          <span class="active" role="progressbar"></span>
          <span class="active" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
        </div>
      </div>

      <div class="skill-group-item dark-block">
        <h4>JS</h4>
        <span class="skill-group-item-level">Novice</span>
        <div class="progress-bar">
          <span class="active" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
        </div>
      </div>

      <div class="skill-group-item dark-block">
        <h4>Bootstrap 5</h4>
        <span class="skill-group-item-level">Advanced</span>
        <div class="progress-bar">
          <span class="active" role="progressbar"></span>
          <span class="active" role="progressbar"></span>
          <span class="active" role="progressbar"></span>
        </div>
      </div>
    </div>

    <app-vertical-separator></app-vertical-separator>

    <div class="skill-group">
      <div class="skill-group-item dark-block">
        <h4>Git</h4>
        <span class="skill-group-item-level">Intermediate</span>
        <div class="progress-bar">
          <span class="active" role="progressbar"></span>
          <span class="active" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
        </div>
      </div>

      <div class="skill-group-item dark-block">
        <h4>Rider</h4>
        <span class="skill-group-item-level">Intermediate</span>
        <div class="progress-bar">
          <span class="active" role="progressbar"></span>
          <span class="active" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
        </div>
      </div>

      <div class="skill-group-item dark-block">
        <h4>UML</h4>
        <span class="skill-group-item-level">Intermediate</span>
        <div class="progress-bar">
          <span class="active" role="progressbar"></span>
          <span class="active" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
        </div>
      </div>

      <div class="skill-group-item dark-block">
        <h4>Figma</h4>
        <span class="skill-group-item-level">Intermediate</span>
        <div class="progress-bar">
          <span class="active" role="progressbar"></span>
          <span class="active" role="progressbar"></span>
          <span class="inactive" role="progressbar"></span>
        </div>
      </div>
    </div>
  </div>
</section>
