@import '../../../assets/styles/utility';

section {
  margin-bottom: rem(18px);
  @extend .box-shadow-16;

  @media only screen and (max-width: $medium) {
    margin-bottom: rem(14px);
  }

  @media only screen and (max-width: $small) {
    padding: rem(16px);
    margin-bottom: rem(12px);
  }

  .section-item {
    border-left: rem(2px) solid var(--color-dark-separator);
    padding: rem(6px) rem(16px);
    position: relative;
    cursor: pointer;

    i {
      opacity: 0;
      text-align: center;
      margin: auto rem(24px) auto 0;
    }

    &:hover {
      border-left: rem(2px) solid var(--color-dark-paragraph);
      transition: border-left 0.25s ease-in;

      i {
        opacity: 1;
        transition: opacity 0.1s ease-out;
      }
    }

    &::before {
      width: 10px;
      height: 10px;
      border: rem(1px) solid var(--color-dark-heading);
      border-radius: 50%;
      position: absolute;
      content: '';
      @extend .box-glow-12;
      background-color: var(--color-dark-heading);
      left: -7px;
      top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-radius: 0 var(--radius-12) var(--radius-12) var(--radius-12);
    }

    h3 {
      margin: 0;
    }

    span {
      font-size: rem(12px);
      font-weight: 500;
      color: var(--color-dark-paragraph);
      text-transform: uppercase;
    }

    &-head {
      display: flex;
      width: 100%;
    }

    &-date {
      &::before {
        color: var(--color-dark-paragraph);
        margin: 0 rem(4px);
        content: '|';
        text-shadow: none;
      }
    }

    &-content {
      //overflow: hidden;
      color: var(--color-dark-paragraph);
      margin-top: rem(5px);
      margin-bottom: 0;
      padding-right: rem(30px);

      p {
        cursor: text;
      }
    }

    &-toggler {
      justify-content: center;
      align-items: center;
      display: inline-flex;
      margin-left: auto
    }
  }
}
