@import 'typography';
@import 'utility';
@import "fa-icons";

@import 'variables/media';
@import 'variables/mixins';
@import 'variables/vars';


body {
  background-color: hsla(50, 0%, 0%, 1);
  background-image: url("../images/mesh (1).png");
  animation: mix-bg 30s ease infinite;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 200% 1000%;
  height: 100vh;
  margin: 0;
}
