@import 'typography';
@import 'utility';
@import "fa-icons";

@import 'variables/media';
@import 'variables/mixins';
@import 'variables/vars';


body {
  background-color: hsla(50, 0%, 0%, 1) ;
  background-image: url("../images/bg-2.jpg") ;
  //animation: mix-bg 30s ease infinite;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin: 0;
}
