@import 'typography';
@import 'utility';
@import "fa-icons";

@import 'variables/media';
@import 'variables/mixins';
@import 'variables/vars';

body {
  background-color:#ff99b8;
  background-image:
    radial-gradient(at 54% 28%, hsla(201,67%,79%,1) 0px, transparent 50%),
    radial-gradient(at 19% 11%, hsla(255,78%,74%,1) 0px, transparent 50%),
    radial-gradient(at 25% 97%, hsla(188,65%,73%,1) 0px, transparent 50%),
    radial-gradient(at 81% 63%, hsla(95,67%,78%,1) 0px, transparent 50%),
    radial-gradient(at 72% 71%, hsla(318,65%,78%,1) 0px, transparent 50%),
    radial-gradient(at 23% 89%, hsla(37,70%,67%,1) 0px, transparent 50%),
    radial-gradient(at 52% 60%, hsla(74,99%,66%,1) 0px, transparent 50%);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin: 0;
}

section {
  padding: rem(26px);

  margin-bottom: rem(18px);
  @extend .box-shadow-16;

  @media only screen and (max-width: $medium) {
    margin-bottom: rem(14px);
  }

  @media only screen and (max-width: $small) {
    padding: rem(16px);
    margin-bottom: rem(12px);
  }
}

* {
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @extend .box-shadow-8;
  background: var(--color-dark-wrapper-background);
  border-radius: var(--radius-8);
}
