@import 'variables/media';
@import 'variables/mixins';
@import 'variables/vars';

.dark-block {
  background-color: var(--color-dark-block-background);
  border-radius: var(--radius-20);
}

.box-glow {
  &-4 {
    box-shadow: 0 0 4px var(--color-dark-neon-glow);
  }

  &-8 {
    box-shadow: 0 0 8px var(--color-dark-neon-glow);
  }

  &-12 {
    box-shadow: 0 0 12px var(--color-dark-neon-glow);
  }

  &-16 {
    box-shadow: 0 0 16px var(--color-dark-neon-glow);
  }
}

.text-glow {
  &-4 {
    text-shadow: 0 0 4px var(--color-dark-neon-glow);
  }

  &-8 {
    text-shadow: 0 0 8px var(--color-dark-neon-glow);
  }

  &-12 {
    text-shadow: 0 0 12px var(--color-dark-neon-glow);
  }

  &-16 {
    text-shadow: 0 0 16px var(--color-dark-neon-glow);
  }
}

.box-shadow {
  &-4{
    box-shadow: 0 0 4px 0 rgba(29, 23, 40, 0.5);
  }
  &-8{
    box-shadow: 0 0 8px 0 rgba(29, 23, 40, 0.5);
  }
  &-12{
    box-shadow: 0 0 12px 0 rgba(29, 23, 40, 0.5);
  }
  &-16{
    box-shadow: 0 0 16px 0 rgba(29, 23, 40, 0.5);

  }
}

.container-shadow {
  box-shadow:
    0 0 8px rgba(0, 0, 0, 0.15),
    0 0 16px rgba(0, 0, 0, 0.2),
    0 0 32px rgba(0, 0, 0, 0.15),
    0 0 48px rgba(0, 0, 0, 0.15),
    0 0 128px rgba(0, 0, 0, 0.15);
}
