@import 'variables/media';
@import 'variables/mixins';
@import 'variables/vars';

.dark-block {
  background-color: var(--color-dark-block-background);
  border-radius: var(--radius-20);
}

.box-glow {
  &-4 {
    box-shadow: 0 0 4px var(--color-dark-neon-glow);
  }

  &-8 {
    box-shadow: 0 0 8px var(--color-dark-neon-glow);
  }

  &-12 {
    box-shadow: 0 0 12px var(--color-dark-neon-glow);
  }

  &-16 {
    box-shadow: 0 0 16px var(--color-dark-neon-glow);
  }
}

.text-glow {
  &-4 {
    text-shadow: 0 0 4px var(--color-dark-neon-glow);
  }

  &-8 {
    text-shadow: 0 0 8px var(--color-dark-neon-glow);
  }

  &-12 {
    text-shadow: 0 0 12px var(--color-dark-neon-glow);
  }

  &-16 {
    text-shadow: 0 0 16px var(--color-dark-neon-glow);
  }
}
