@import "../home";

.main {
  display: grid;
  grid-template-columns: 27.5% auto;
  grid-gap: rem(18px);
  @media only screen and (max-width: $large-xl) {
    grid-template-columns: 100%;
    grid-gap: rem(8px);
  }
}



