<footer>
  <h2>Contact with me</h2>
  <form>
    <input #userName class="name-input glass-dark" type="text" name="name" required="required" autocomplete="on" placeholder="Full name">
    <input #userEmail class="surname-input glass-dark" type="email" name="email" required="required" autocomplete="on" placeholder="Email address">
    <textarea #userMessage class="message-area glass-dark" rows="6" name="message" required="required" autocomplete="on" placeholder="Your message"></textarea>
    <button (click)="sendEmail(userName.value, userEmail.value, userMessage.value)" type="submit" class="submit-button glass-dark">Send message</button>
  </form>
  <div class="credentials">
    <p>{{ currentDate }}. Designed and developed by <a href="https://github.com/aldecode">Nikita</a> with <a href="https://github.com/JuliettyGit">Julia <i class="fa-solid fa-heart fa-beat"></i></a></p>
  </div>
</footer>
